.book-card {
    background-color: rgb(175, 172, 168);
    border-radius: 0;
    padding: 1rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(72, 73, 73, 0.5);
    transition: .5s;
    text-align: center;
    position: relative;
}

.book-card:hover {
    transform: scale(0.95);
    background-color: rgba(213, 212, 210, 0.5);

}

.book-card img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    max-height: 200px;
    margin-bottom: 1rem;
    border-radius: 0 0 0 0;
}

.book-card .card-content {
    display: flex;
    flex-direction: column;
}

.book-card .card-content h5 {
    color: rgb(135, 139, 142);
    text-decoration: underline;
    margin-bottom: 5%;

}

.book-card .card-content .title {
    font-size: 14px;
    margin-bottom: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.book-card .card-content h4 {
    color: rgb(74, 76, 78);
}

@media (max-width: 495px) {
    .book-card {
        width: 50%;
        margin-bottom: 20px;
        margin: auto;
        position: relative;
    }

    .book-card img {
        width: 60%;
        height: auto;
        max-height: 150px;
    }

    .book-card .card-content h5 {
        font-size: 0.6rem;
    }

    .book-card .card-content .title {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .book-card .card-content h4 {
        font-size: 0.7rem;
    }
}