@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;

}

:root {
    --primary-color: rgb(140, 140, 140);
    --secondary-color: rgb(64, 64, 64);
    --gradient-color1: rgba(0, 0, 0, 0.5);
    --gradient-color2: rgba(0, 0, 0, 0.7);
}

body {
    background-color: var(--primary-color);
}

html {
    font-size: 75.5%;
}

.header {
    width: 100%;
    height: 250px;
    color: var(--secondary-color);
    box-shadow: 0 5px 20px var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../../public/images/background1.webp'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--gradient-color1), var(--gradient-color2)); 
    z-index: -1;
}
.header-content {
    width: 80%;
    text-align: center;
    z-index: 1;
}

.row2 {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.row2 h2 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: rgba(211, 211, 211, 0.5);
}


.row2 img {
    margin-top: 30px;
    width: 250px;
}

.category,
.sort {
    color: #626466;
    margin-top: 2%;
    border: none;
    flex: 1; /* Чтобы элементы занимали равное пространство */
}

/* Контейнер, который будет содержать категории и сортировку */
.filter-container {
    display: flex;
    gap: 10px; /* Пространство между элементами */
    width: 100%;
    margin-top: 2%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    outline: 0;
    border: 0;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}

.search button{
    outline: none;
    border:none;
    height: 35px;
    padding: 0 0.5rem;
}
.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    box-sizing:border-box;
}
.total-books {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.rem;
    padding-top: 20px;
}
.loading-indicator {
    text-align: center;
    font-size: 1.5em;
    margin: 20px;
    color: #646464;
}
.load-more-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.load-more {
    padding: 10px 20px;
    background-color: #888888;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.load-more:hover {
    background-color: #0056b3;
}

@media (max-width: 430px) {
    .filter-container {
        align-items: center;
        flex-direction: column; /* Расположение элементов друг под другом */
    }

    .category,
    .sort {
        width: 60%; /* Элементы занимают всю ширину */
        margin-top: 5px; /* Дополнительное пространство между элементами */
    }

    .header {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-content {
        width: 100%;
        padding: 0 20px;
    }

    .row2 h2 {
        font-size: 2rem;
        margin-top: 10px;
    }

    .search input {
        width: 80%;
    }

    .search button {
        width: 20%;
    }

    .container {
        width: 100%;
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        align-items: center;
    }
}

