@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;

}

:root {
    --primary-color: rgb(140, 140, 140);
    --secondary-color: rgb(64, 64, 64);
}

body {
    background-color: var(--primary-color);
}

html {
    font-size: 75.5%;
}

.header {
    width: 100%;
    height: 250px;
    color: var(--secondary-color);
    box-shadow: 0 5px 20px var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
    background-image: url('../../public/images/background1.webp'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--gradient-color1), var(--gradient-color2)); 
    z-index: -1;
}

.row2 {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.row2 h2 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: rgba(211, 211, 211, 0.5);
}


.row2 img {
    margin-top: 30px;
    width: 250px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    outline: 0;
    border: 0;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}

.search button{
    outline: none;
    border:none;
    height: 35px;
    padding: 0 0.5rem;
}
.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    box-sizing:border-box;
}
.total-books {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 20px;
}

.load-more-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.load-more {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.load-more:hover {
    background-color: #0056b3;
}

.card {
    background-color:rgb(194, 190, 184);
    border-radius: 0;
    padding: 1rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(72, 73, 73, 0.5);
    transition: .5s;
    text-align: center;
    position: relative;
}

.card:hover {
    transform: scale(0.95);
    background-color: rgba(213, 212, 210, 0.5);

}

.card img {
    width: 60%;
    height: 60%;
    border-radius: 0 0 0 0;
}

.card .bottom {
    display: flex;
    flex-direction: column;
}
.card .bottom .catigories{
    color:rgb(115, 118, 120); 
    text-decoration: underline;
    margin-bottom: 5%;

}
.card .bottom .title {
    font-size: 14px;
    margin-bottom: 3%;
}

.card .bottom .autors {
    color:rgb(115, 118, 120); 
}

.book-detail {
    min-height: 95%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 20px;
    background-color: #f5f5f5;
}

.inner-box {
    display: flex;
    width: 100%;
    position: relative;
}

.image-container {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.image-container img {
    width: 60%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.info-container {
    width: 65%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

.info {
    padding-bottom: 20px;
}

.info h1 {
    margin: 0 0 0.5%;
}

.info h3 {
    margin: 0 0 0.5%;
}

.info h4 {
    margin: 0 0 0.7%;
    color:rgb(119, 128, 134); 
}

.info h5 {
    margin: 0 0 2%;
    color:rgb(90, 101, 109); 
    text-decoration: underline;
}

.info a button {
    font-size: 0.9em;
    border: none; 
    background: none; 
    padding: 0; 
    color: rgb(167, 179, 188); 
    text-decoration: underline; 
    cursor: pointer;
    transition: color 0.3s ease; 
}

.info a button:hover {
    color: rgb(20, 50, 80); 
}

.description {
    font-size: 0.9em;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.close {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(11, 27, 27);
    z-index: 10; 
}